<h1>Title: <%= @event.title.titleize%></h1>
<br>
<ul>
<h5><b>Genre: <%= @event.genre.name.titleize %></b></h5>
<br>
<h5><b>Date: <%= @event.time.strftime("%A, %B %d") %></b></h5>
<br>
<h5><b>Time: <%= @event.time.strftime("%l:%M %p %Z") %></b></h5>
<br>
<h5><b>Link: <%= link_to @event.link %></b></h5>
<br>
<h5><b>Description:</b></h5><%= @event.description %>
</ul>
<br><br>





<% if @event.user == current_user %>
  <button type="button" class="btn btn-outline-primary"><%= link_to "Edit Event", edit_event_path(@event) %></button>
  <button type="button" class="btn btn-outline-primary"><%= link_to "Delete Event", event_path(@event), method: :delete  %></button>
  
<% end %>