<h1>Title: <%= @event.title.titleize%></h1>
<br>
<ul>
<h5><b>Genre: <%= @event.genre.name.titleize %></b></h5>
<br>
<h5><b>Date: <%= @event.time.strftime("%A, %B %d") %></b></h5>
<br>
<h5><b>Time: <%= @event.time.strftime("%l:%M %p %Z") %></b></h5>
<br>
<h5><b>Link: <%= link_to @event.link %></b></h5>
<br>
<h5><b>Description:</b></h5><%= @event.description %>
</ul>

<% if !!(Favorite.where(event_id: @event.id, user_id: current_user.id) != []) %> 
  <%= button_to "Unfavorite", "/favorites/#{params[:id]}", method: :delete %>
 <% else %>
    <%= form_for @favorite do |f|%>
      <%= f.hidden_field :event_id, value: params[:id] %>
      <%= f.submit "Favorite This Event" %>
    <%end%>
  <%end%>
  <br>



<br><br>
<h3>Comments:</h3>
<ul>
  <% @comments.each do |c|%>
    <li>
    <%=c.commenter.user_name%> says: <%= c.content %>  
    </li>
  <% end %>
</ul>
<br>
<%= link_to 'Leave a Comment', new_event_comment_path(@event.id) %>
<br>
<%= link_to 'View All Comments', event_comments_path(@event.id) %>

<br><br><br><br>






<% if @event.user == current_user %>
  <button type="button" class="btn btn-outline-primary"><%= link_to "Edit Event", edit_event_path(@event) %></button>
  <button type="button" class="btn btn-outline-primary"><%= link_to "Delete Event", event_path(@event), method: :delete  %></button>
  
<% end %>